* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}  

.countries {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  }

.legendThreshold {
  font-size: 15px;
  font-family: sans-serif;
  }

  .caption {
  fill: #000;
  text-anchor: start;
  font-weight: bold;
  }

.background-img {
  background-image: url('forest.jpg');
  height: 850px;
  width: 100%;
  background-position: center;
  background-size: cover;
  vertical-align : middle;
}

.heading1{
  padding: 250px 200px 20px 200px;
  text-align: center;
  font-size: 50px;
}

.heading2{
  padding: 20px 200px 20px 200px;
  text-align: center;}

.introduction{
  height: 550px;
  width: 100%;
  background-color:#2b2b2b;
  color:white;
  vertical-align : middle;
}

.h-introduction{
  padding: 150px 200px 20px 200px;
  text-align: center;
}

.p-introduction{
  padding: 20px 200px 30px 200px;
  text-align: left;
  font-size: 18px;
}

.question{
  height: 650px;
  width: 100%;
  vertical-align : middle;
  background-color:#e0e0e0;

}

.p-question{
  padding: 120px 200px 50px 200px;
  text-align: center;
  font-size: 18px;
}

.button-div{
  vertical-align : middle;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.button {
  background-color: #2b2b2b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
}

a:link {
  color: #2b2b2b;
}

a:visited {
  color: #2b2b2b;
}

a:hover {
  color: #2b2b2b;
}

a:active {
  color: #2b2b2b;
}

#cause{
  padding: 20px 200px 50px 200px;
  text-align: center;
  font-size: 18px;
}

.p-line{
  padding: 10px 200px 20px 200px;
  text-align: center;
  font-size: 18px;
}

.p-quote{
  padding: 40px 200px 20px 200px;
  text-align: center;
  font-size: 18px;
}

.global-cause{
  height: 1060px;
  width: 100%;
  vertical-align : middle;
  background-color:#F8F8F8;
}

.hforchart{
  padding: 60px 200px 20px 200px;
  text-align: center;
}

.pforchart{
  padding: 10px 200px 10px 200px;
  text-align: left;
  font-size: 18px;
}

ol {
  margin: 5px 200px 5px 200px;
  list-style-type: none;
  padding: 0;
  border: 3px solid #ddd;
  font-size: 18px;
}

ol li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}

ol li:last-child {
  border-bottom: none
}

.HDI-index{
  height: 950px;
  width: 100%;
  vertical-align : middle;
}

.change-with-time{
  height: 1100px;
  width: 100%;
  vertical-align : middle;
  background-color:#F8F8F8;
}

#countrydetail{
  padding: 40px 200px 20px 200px;
  text-align: center;  
  font-size: 18px;
}

.change-with-age{
  height: 1020px;
  width: 100%;
  vertical-align : middle; 
}

.your-changes{
  height: 850px;
  width: 100%;
  vertical-align : middle;
  background-color:#F8F8F8;    
}

.conclusion{
  height: 800px;
  width: 100%;
  vertical-align : middle;
  background-color:#2b2b2b;
  color:white;
}

.hconclusion{
  padding: 130px 200px 20px 200px;
  text-align: center;
}

#filter1, #filter2, #filter4{
  background-color: #2b2b2b;
  border: none;
  color: white;
  padding: 5px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 10px 1px 10px 20px;
  cursor: pointer;
}

#filter3, #filter5, #filter6, #filter7{
  background-color: #2b2b2b;
  border: none;
  color: white;
  padding: 5px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 10px 1px 10px 1px;
  cursor: pointer;
}